body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

  justify-content: center;

  background-color: white
}

.calculator-title {
  display: block;
  background-color: red;
  width: 200px;
  height: 200px;
}